Package: com.ruslanArdashev.panicLockiOS8
Name: panicLockiOS8
Depends: firmware (>= 8.0), mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Discretely lock your iOS Device via any gesture!
Maintainer: Ruslan Ardashev
Author: Ruslan Ardashev
Section: Tweaks
Version: 1.2-4
Installed-Size: 440
