<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		
		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 		<string>Configure</string>
		</dict>

		<dict>
		    <key>cell</key> 			<string>PSLinkCell</string>
		    <key>label</key> 			<string>Activation Methods</string>
		    <key>isController</key> 	<true/>
		    <key>bundle</key> 			<string>LibActivator</string>
		    <key>activatorListener</key> <string>com.ruslan.paniclockproios8</string>
		</dict>

		<dict>
			<key>action</key> 			<string>sendEmail</string>
			<key>cell</key> 			<string>PSButtonCell</string>
			<key>label</key> 			<string>Issue? Let me know!</string>
			<key>icon</key> 			<string>mail.png</string>
		</dict>

		<dict>
			<key>cell</key> 		<string>PSGroupCell</string>
			<key>label</key> 		<string> </string>
			<key>footerText</key> 	<string>www.ruslanArdashev.com</string>
		</dict>

		<dict>
			<key>action</key> 			<string>openInstructions</string>
			<key>cell</key> 			<string>PSButtonCell</string>
			<key>label</key> 			<string>How to use panicLock for iOS8</string>
			<key>icon</key>  			<string>youtube.png</string>
		</dict>

		<dict>
			<key>action</key> 			<string>openYoutubeChannel</string>
			<key>cell</key> 			<string>PSButtonCell</string>
			<key>label</key> 			<string>Personal Youtube Channel</string>
			<key>icon</key>  			<string>youtube.png</string>
		</dict>

	</array>
	<key>title</key>
	<string>panicLock iOS8 Preferences</string>
</dict>
</plist>
